
<% $stderr.debugPuts(__FILE__, __method__, 'DEBUG-VIEW', "Doing View stuff.") %>

<h3>Time: <%= @tNow %></h3>
<h4>Extracted Collection Name: <%= @aColl %></h4>

<br>&nbsp;<br>
<hr>
<hr>
<h3>Raw API Response Body:</h3>
<pre>
  <%= @apiBody %>
</pre>
